code,
#code,
.CodeMirror {
  font-family: 'source code pro', 'ubuntu Mono', monospace;
  line-height: 1.4;
}

#code,
body .CodeMirror {
  min-height: 200px;
  border: 1px solid #999;
  border-radius: 1px;
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 8px;
  white-space: pre-wrap;
}

.CodeMirror-scroll {
  max-height: 60vh;
}

.cm-s-default .cm-keyword {
  color: blue;
}

.cm-s-default .cm-pragma {
  color: #b30197;
}

.cm-s-default .cm-comment {
  color: green;
  font-style: italic;
}

.cm-s-default .cm-string {
  color: crimson;
}

.cm-s-default .cm-operator {
  color: #222;
}

.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property {
  color: red;
}

.cm-s-default .cm-variable-3 {
  color: grey;
}

.cm-s-default .cm-number {
  color: #90368a;
}

.cm-s-default .cm-basic-line-number {
  color: grey;
  text-decoration: none;
  display: inline-block;
  width: 4ch;
  text-align: right;
}

.cm-goto {
  text-decoration: underline;
}

.goto .cm-goto {
  cursor: pointer;
}

details,
p {
  max-width: 720px;
}

details {
  margin-bottom: 40px;
}

details summary {
  font-weight: bold;
}

details summary:after {
  content: ' (click to expand)';
  color: #999;
  font-weight: normal;
}

details[open] summary:after {
  content: '';
}

li strong {
  font-weight: 500;
}

.CodeMirror-lint-message-error {
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M5 9.64c2.56 0 4.64-2.08 4.64-4.64C9.64 2.44 7.56.36 5 .36 2.44.36.36 2.44.36 5 .36 7.56 2.44 9.64 5 9.64z" fill="%23EB3941"/><path d="M3 3l4 4M7 3L3 7" stroke="%23FFF" fill="%23000"/></g></svg>') !important;
  background-size: 12px;
  background-position: left center;
}
