code,
#code,
.CodeMirror {
  font-family: 'source code pro', 'ubuntu Mono', monospace;
  line-height: 1.4;
}

#code,
.CodeMirror {
  min-height: 200px;
  border: 1px solid #999;
  border-radius: 1px;
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 8px;
  white-space: pre-wrap;
}

.cm-s-default .cm-keyword {
  color: blue;
}

.cm-s-default .cm-comment {
  color: green;
  font-style: italic;
}

.cm-s-default .cm-string {
  color: crimson;
}

.cm-s-default .cm-operator {
  color: #222;
}

.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property {
  color: red;
}

.cm-s-default .cm-variable-3 {
  color: grey;
}

.cm-s-default .cm-number {
  color: #90368a;
}

.cm-basic-line-number {
  /* padding-left: 24px; */
}

button {
  padding: 4px 16px;
  margin: 20px 0;
  background: #222;
  color: white;
  font-family: 'source code pro';
  border: 0;
  font-size: 16px;
}

button:hover {
  background: #000;
  /* box-shadow: 2px 2px 0px #999; */
  outline: 2px solid #000;
}
