/* sprites/index.css */

html {
  --scale: 16px;
  --transparent-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><rect stroke='black' stroke-width='0.2' stroke-opacity='100%' fill='lightgrey' width='32' height='32' x='0' y='0' /><rect fill='white' width='16' height='16' x='1' y='1' /><rect fill='white' width='15' height='15' x='16' y='16' /></svg>");
  --transparent-image-8: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='64' height='64'><rect stroke='black' stroke-width='0.2' stroke-opacity='100%' fill='lightgrey' width='64' height='64' x='0' y='0' /><rect fill='white' width='32' height='32' x='1' y='1' /><rect fill='white' width='31' height='31' x='32' y='32' /></svg>");
  --size: calc(16 * var(--scale) * 2);
  background: #373737;
}

html[data-transparency='black'] {
  --transparent-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><rect fill='black' width='32' height='32' x='0' y='0' /></svg>");
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

a {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

input {
  background: #373737;
  color: #fff;
}

#sprite-editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

main * {
  user-select: none !important;
}

section {
  /* width: var(--size);
  text-align: center; */
  margin: 0 auto;
}

*,
*:before,
*:after {
  color: white;
  font-family: 'source code pro', 'ubuntu Mono', monospace;
}

button,
.button {
  background: black;
}

.sprite {
  display: flex;
  flex-wrap: wrap;
  width: var(--block-size);
  height: var(--block-size);
}

.sprite > div {
  height: var(--scale);
  width: var(--scale);
}

.tools h1 {
  background: black;
  color: white;
}

h2 {
  /* display: none; */
  margin: 0;
}

.picker {
  --scale: 12px;
  width: calc(16 * var(--scale));
  height: calc(16 * var(--scale));
  position: relative;
  order: 3;
}

.pickerColour {
  order: 2;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.pickerColour[data-selected='1'] div:nth-child(1),
.pickerColour[data-selected='2'] div:nth-child(2),
.pickerColour[data-selected='3'] div:nth-child(3),
.pickerColour[data-selected='4'] div:nth-child(4),
.pickerColour[data-selected='5'] div:nth-child(5),
.pickerColour[data-selected='6'] div:nth-child(6),
.pickerColour[data-selected='7'] div:nth-child(7),
.pickerColour[data-selected='8'] div:nth-child(8) {
  outline: 2px dashed yellow;
  z-index: 10;
}

.pickerColour div {
  --scale: 24px;
  /*! width: calc(16 * var(--scale) / 12); */
  width: calc(16 * var(--scale) / 16);
  height: 40px;
  position: relative;
}

#picker {
  display: flex;
  flex-direction: column;
}

#picker:before {
  text-align: center;
  width: 100%;
  content: 'Colour Picker';
  display: block;
  color: white;
  padding: 8px 4px;
  background: black;
  font-size: 80%;
  /* position: absolute; */
  top: 0;
}

.picker div {
  cursor: crosshair;
}

.picker div:hover {
  cursor: crosshair;
  outline: 1px dashed yellow;
  z-index: 10;
}

canvas {
  background: var(--transparent-image);
}

canvas[data-scale='4'] {
  background: var(--transparent-image-8);
}

#container {
  cursor: crosshair;
  border-radius: 2px;
  --block-size: calc(var(--size));
}

[data-tool='pan'] #container {
  cursor: move;
}

#container div:hover {
  cursor: crosshair;
  outline: 1px dashed yellow;
  z-index: 10;
}

#container div {
  margin: 0px;
  cursor: crosshair;
}

#sprites .container {
  --block-size: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 40px;
  /* width: 100%; */
  width: calc(4 * var(--block-size));
  cursor: pointer;
}

@media screen and (max-width: 1104px) {
  main {
    flex-direction: column;
  }

  #sprites {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #sprites .container {
    width: calc(32 * 16px);
  }

  #sprites button {
    margin: 16px;
    padding: 16px 32px;
  }

  #sprites button br {
    white-space: nowrap;
  }

  .tabbed {
    width: 100%;
  }
}

#sprites .container > div {
  --scale: 32px;
  margin: 0;
}

#sprites .container > .focus {
  outline: 1px dashed rgb(255, 255, 0);
  z-index: 1;
}

#sprites .container > div > div {
  height: calc(var(--scale) / 16);
  width: calc(var(--scale) / 16);
}

button,
.button {
  margin: 0;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  /*! margin-left: 8px; */
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.button-group button {
  width: auto;
  flex: 1;
  margin: 0;
  margin-right: 8px;
}

.button-group button:last-child {
  margin-right: 0;
}

button img,
button svg {
  pointer-events: none;
  display: block;
  margin: 0 auto;
}

#tools {
  flex-direction: column;
}

.tools {
  display: flex;
  /* flex-wrap: wrap; */
  /* background: #303030; */
  padding: 20px;
  margin-left: 20px;
}

.tools h2 {
  width: 100%;
  margin-top: 0;
}

.tools > div {
  margin-bottom: 8px;
}

.tools > div + div {
  margin: 8px auto;
}

.input-button {
  display: flex;
  position: relative;
  cursor: pointer !important;
  justify-content: center;
  overflow: hidden;
}

.input-button input {
  z-index: 10;
  cursor: pointer !important;
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#debug {
  text-align: center;
}

#tiles {
  display: flex;
  flex-direction: row-reverse;
  overflow: scroll;
  width: 100%;
}

#tiles .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tile-controls {
  min-width: 300px;
  flex: 0;
  margin-right: auto;
  padding: 20px;
  margin-left: 20px;
  display: block;
}

.tile-controls.tools a:last-child {
  margin-top: 16px;
  display: block;
}

.tile-controls.tools span.input-button,
.tile-controls.tools button.download-btn {
  margin-bottom: 8px;
}

.tile-controls > div + div {
  margin-bottom: 16px;
}

.tile-controls label {
  display: block;
}

.tile-controls input {
  font-size: inherit;
  border: 1px solid #fff;
}

.tile-controls input[type='number'] {
  width: 50px;
}

#tiles canvas {
  display: block;
  margin: 0 auto;
  /* width: 512px;
  height: 384px; */
  background: var(--transparent-image);
  cursor: crosshair;
}

.tile-controls > div {
  margin-bottom: 12px;
}

strong {
  font-weight: 600;
}

#tile-map-container {
  /* max-width: 608px; */
  overflow: scroll;
}

#tile-map-container canvas {
  /* width: 100%; */
  margin-right: auto;
  margin-left: 0;
  display: block;
}

details {
  margin-bottom: 20px;
}

.tabbed {
  max-width: 100%;
  min-width: 75%;
  flex-grow: 1;
}

.tabbed > section {
  border: 2px solid black;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 16px;
}

.tab-navigation ul {
  background: none;
  padding: 0;
  margin: 0;
}

.tab-navigation li {
  padding: 0;
}

.tab-navigation a {
  display: block;
  padding: 8px 16px;
  background: linear-gradient(#222, #222);
  margin-right: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tab-navigation a.selected {
  background: linear-gradient(#111, black);
}

#png-importer {
  display: flex;
}

#png-container {
  position: relative;
}

#png-container .focus {
  position: absolute;
  top: 0;
  left: 0;
  border: 0 solid rgba(127, 127, 127, 0.5);
  background: none;
  pointer-events: none;
  width: 512px;
  height: 512px;
}

#png-container[data-zoom='4'] .focus {
  border-width: 128px;
}

#png-container[data-zoom='3'] .focus {
  border-width: 192px;
}

#png-container[data-zoom='2'] .focus {
  border-width: 224px;
}

#png-container[data-zoom='1'] .focus {
  border-width: 240px;
}

#png-container[data-zoom='0'] .focus {
  border-width: 248px;
}

.range label {
  display: flex;
}

.range input[type='range'] {
  flex: 1;
  margin-left: 20px;
}

#png-import-tools p {
  max-width: 240px;
  font-size: 90%;
  line-height: 1.4;
}

#png-container canvas {
  cursor: grab;
}

#png-container canvas {
  cursor: grab;
}

#png-container[data-dragging='true'] canvas {
  cursor: grabbing;
}

.tools > .button:last-of-type,
.tools > button:last-of-type {
  margin-bottom: 0;
}

.button--download {
  margin: 16px auto;
  width: auto;
  font-size: 90%;
}

.keys {
  list-style: none;
  padding-left: 0;
}

.keys dd {
  margin-bottom: 16px;
  line-height: 1.2;
}

.keys dt {
  font-weight: bold;
  line-height: 1.2;
}

.col2 {
  columns: 2;
}

.col2 dl {
  break-inside: avoid;
}

#change-log {
  margin-top: 32px;
  padding-top: 32px;
  font-size: 90%;
  border-top: 1px solid #ccc;
}

#usage > div {
  max-width: 960px;
}

#usage h2:before {
  content: '# ';
}

#current-sprite {
  text-align: center;
  width: 80px;
  font-size: 80%;
  margin: 8px auto;
}

.tile-controls.tools {
  padding-top: 0;
}

#preview-8x8 {
  display: none;
  justify-content: space-between;
  background-color: transparent;
}

[data-scale='4'] #preview-8x8 {
  display: flex;
  flex-wrap: wrap;
  max-width: 104px;
  margin: 10px auto;
}

#preview-8x8 canvas {
  background: var(--transparent-image);
  width: 48px;
  height: 48px;
  padding: 0;
  transition: scale 100ms ease-in;
}

#preview-8x8 canvas:nth-child(2n + 1) {
  /* margin-right: 8px; */
}

#preview-8x8 canvas:hover {
  outline: 0;
  transform: scale(1.05);
}

[data-sub-sprite='0'] #preview-8x8 canvas[data-index='0'],
[data-sub-sprite='1'] #preview-8x8 canvas[data-index='1'],
[data-sub-sprite='2'] #preview-8x8 canvas[data-index='2'],
[data-sub-sprite='3'] #preview-8x8 canvas[data-index='3'] {
  outline: 2px dashed yellow;
}
