details > div {
  margin: 20px 0;
}

div:empty {
  margin: 0;
}

input,
select {
  font-size: inherit;
}

#result {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

#result .container img[src^='blob'] {
  width: max-content;
}

table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding-right: 20px;
}

td {
  vertical-align: top;
}

td:first-child input {
  pointer-events: none;
}

td.type {
  white-space: nowrap;
  padding-right: 80px;
}

td.contents {
  width: 100%;
}

table label {
  font-weight: normal;
}

tbody tr:hover {
  background: #eee;
  cursor: pointer;
}

td .peek {
  color: rgb(0, 0, 215);
  text-decoration: underline;
  cursor: pointer;
  padding-right: 8px;
  user-select: none;
}

#download-data {
  display: none;
}

.download-data #download-data {
  display: block;
}

.peek-contents {
  min-height: 0;
  pointer-events: none;
}

.peek-contents td > div,
.peek-contents input {
  display: none;
}

.peek-contents .container canvas {
  width: 256px;
}

.peek-contents input:checked + div {
  display: block;
  margin: 4px 0 28px 0;
  white-space: pre-wrap;
  pointer-events: initial;
}

canvas.font {
  image-rendering: crisp-edges;
  width: 32px;
}

canvas.font:hover {
  outline: 1px solid #ccc;
  position: relative;
  z-index: 100;
}

summary {
  margin-bottom: 20px;
  font-weight: bold;
}

#tap-creator tbody:empty:after {
  content: 'Select files from below to create a new TAP file';
  position: absolute;
}

#tap-creator tbody:empty {
  height: 40px;
  padding-bottom: 40px;
}

details {
  padding: 8px 16px;
  border: 1px solid transparent;
}

details[open] + details {
  margin-top: 40px;
}

details[open] {
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}

summary {
  user-select: none;
}

footer {
  color: #666;
}

footer .meta {
  color: black;
}

div.meta ol {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

#tap-creator td button {
  font-size: 90%;
  padding: 2px 4px;
  vertical-align: middle;
  visibility: hidden;
}

#tap-creator tr:hover td button {
  visibility: visible;
}

#tap-creator tr:hover td button:hover {
  outline: 0;
}

tr input {
  vertical-align: text-top;
}
tr select {
  vertical-align: sub;
  vertical-align: -moz-middle-with-baseline;
}
