table {
  width: 100%;
  line-height: 1;
}

table *:not(input) {
  user-select: none;
}

th {
  text-align: left;
}

input {
  font-size: inherit;
}

td {
  cursor: pointer;
}

td input {
  border: 0;
  background: none;
  padding: 0;
}

.wide {
  width: 20%;
}

.wide2 {
  width: 40%;
}

td {
  position: relative;
}

[data-value] {
  border: 1px solid #000;
  position: relative;
  display: block;
  height: 16px;
  margin: 0 2px;
  height: 100%;
  background: #aaa;
}

.bar {
  cursor: ew-resize;
}
